* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

body {
    background-color: #0D13FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23192fb9'/%3E%3Cstop offset='1' stop-color='%23192fb9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230319da'/%3E%3Cstop offset='1' stop-color='%230319da' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23162f8e'/%3E%3Cstop offset='1' stop-color='%23162f8e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230D13FF'/%3E%3Cstop offset='1' stop-color='%230D13FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23253874'/%3E%3Cstop offset='1' stop-color='%23253874' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230522AA'/%3E%3Cstop offset='1' stop-color='%230522AA' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transition: 4;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 1;
}



.display-none {
    display: none !important;
}

header {
    width: 78%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

header img {
    width: 350px;
}

.conteudo h1 {
    font-size: 2.2rem;
    padding: 1rem 0;

}

header h2 {
    padding-bottom: 1.3rem !important;
    font-size: 2.2rem;
}


.container {
    width: 78%;
    background-color: #fff;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: .2fr 1fr;
    text-align: justify;

}

.menu {
    list-style: none;
    position: relative;

}

.container .topicos {
    margin: .3rem 0;
    padding: 1rem;

}


.container .conteudo {
    margin: .3rem 0;
    padding: 1rem 2.4rem;
    margin-left: 2%;
}

.btn {
    font-size: 1.2rem;
    text-decoration: none;
}

.conteudo h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;


}

.conteudo p {
    text-indent: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    letter-spacing: .7px;
    line-height: 1.6rem;
}

.conteudo img {
    max-width: 100%;
    height: 350px;

}

.menu li {
    margin: .2rem 0;
}

.menu li a {
    text-decoration: none;
    font-size: .8rem;
    width: 10rem;
    opacity: .8;
}

.menu li a:hover {
    background-color: #121CFF;
    color: white;
    opacity: 1;
    transition: .8s;
}

.active {
    background-color: #121CFF;
    color: white;
    transition: .6s;
    opacity: 1 !important;
}


#membros {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#membros a:visited {
    background-color: #fff;
    color: #000;
}

.card-membros {
    margin-top: 1rem;
    width: 150px;
}

.card-membros img {
    width: 100%;
    height: 180px;
    border-radius: .3rem;
    opacity: .9;
}

.card-membros h3 {
    font-size: .8rem;
    text-align: center;
}
.card-membros img:hover{
    opacity: 1;
}

.card-membros h4 {
    text-align: center;
    font-size: .9rem;
}

.listStyle ol,
li {
    font-size: 1rem;
    line-height: 1.6rem;

}

.listStyle ol li {
    list-style: disc !important;
    margin-left: 10%;
    margin-bottom: .8rem;
}

.listStyle ul li {
    list-style: decimal;
    margin-left: 10%;
    margin-bottom: .8rem;
}

menu {
    display: none;
}

menu>ul {
    list-style-type: none;
}



menu>ul>li>a {
    display: block;
    text-decoration: none;
    padding: 4px;

    color: black;
    text-align: center;
    border: 2px solid gray;
}

span#burger {
    display: block;
    color: #121CFF;
    cursor: pointer;
}

span#burger:hover {
    background: white;
    color: black;
}

.container-analise {
    text-align: center;

}

.container-analise h2 {
    text-align: left;
}

.container-analise p {
    text-indent: 0;
    padding: .3rem 0;
    text-align: justify;
}

/*Loading*/
#fade-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: #fff;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    /* opacity: 90%; */

}

#fade-container img {
    width: 20%;
    text-align: center;
    margin: 8rem auto 0 auto;
    align-items: center;

}

#fade-container p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proximapag{
    margin-top: 3rem;
    display: none;
    /* display: flex; */
    justify-content: space-between;
}
.proximapag a{
    color: #121CFF;
}
.disabled-link {
    pointer-events: none;
    color: #8a8484;
  }
.container-ferramentas{
    text-align: center;
}
.container-ferramentas h2{
 margin-top: 2.3rem;
}
.container-ferramentas p{
    text-align: left;
    text-indent: 0;
    margin-top: 0;
}
.container-ferramentas img{
    width: 200px;
    height: 200px;
}
.container-ferramentas ul li{
    font-size: 1rem;
    text-align: left;
    margin-bottom: .3rem;
    margin-left: 4%;

}
.questionario {
    margin: 1rem;
    width: 97%;
    border: 1px solid #a09595;
    border-radius: 1rem;
}

.questionario img {
    padding: 1rem;
}
 .questionario .pergunta{
  width: 100%;
  height: 50%;
}
.questionario p{
    padding: 1rem 3.1rem;
    font-size: .9rem;
    text-align: justify;
    text-indent: 1.3%;
}
.questionario h5{
    margin-left: 5%;
}
#info a{
    text-decoration: underline;
}
#info{
    margin-bottom: 2rem;
}
iframe{
    border: none;
}
.perfil-de-usuario{
 margin-top: 1rem;
}
.perfil-de-usuario p{
    margin-left: 0;
    text-indent: 0;
    padding: .6rem 0;
}
br{
   height: 1rem;
}
@media screen and (max-width: 1025px) {
    body {
        background-image: none !important;
        background-color: #fff !important;
    }

    .container {
        display: block;
        width: 100%;
        margin: 0 !important;
    }

    header {
        width: 100%;
    }

    .menu li a {
        text-decoration: none;
        font-size: 1.1rem;
        width: 100%;
    }

    header img {
        width: 300px;
    }

    header h1 {
        padding: 0 0 1rem 0;
    }

    hr {
        background-color: black;
    }

    #membros {
        margin: 1rem auto;
        display: block;
    }

    .card-membros {
        margin: 1rem auto;
        text-align: center;

    }

    .conteudo {
        padding: 0 2rem !important;
    }

    .conteudo img {
        max-width: 100%;
        height: 200px;

    }
    .questionario img{
        width:100%;
        height: 70%;
     }


}


@media screen and (min-width: 1025px) {

    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu>ul>li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
    

}

@media screen and (max-width: 520px) {
    #fade-container {
        width: 100%;
    }

    #fade-container img {
        width: 50%;
        margin-top: 30vh;

    }

    #fade-container p {
        font-size: 1rem;
    }
   
}